@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";
@import "./custom.css";


@custom-variant dark (&:is(.dark *));

/* :root {
  --background: oklch(0.99 0 0);
  --foreground: oklch(0.20 0 0);
  --card: oklch(0.99 0 0);
  --card-foreground: oklch(0.20 0 0);
  --popover: oklch(0.99 0 0);
  --popover-foreground: oklch(0.44 0 0);
  --primary: oklch(0.47 0.08 187.84);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.70 0.19 22.23);
  --secondary-foreground: oklch(0.20 0 0);
  --muted: oklch(0.95 0 0);
  --muted-foreground: oklch(0.24 0 0);
  --accent: oklch(0.95 0 0);
  --accent-foreground: oklch(0.24 0 0);
  --destructive: oklch(0.55 0.19 32.73);
  --destructive-foreground: oklch(0.99 0.00 17.21);
  --border: oklch(0.90 0 0);
  --input: oklch(0.97 0 0);
  --ring: oklch(0.83 0.13 160.91);
  --chart-1: oklch(0.83 0.13 160.91);
  --chart-2: oklch(0.62 0.19 259.81);
  --chart-3: oklch(0.61 0.22 292.72);
  --chart-4: oklch(0.77 0.16 70.08);
  --chart-5: oklch(0.70 0.15 162.48);
  --sidebar: oklch(0.99 0 0);
  --sidebar-foreground: oklch(0.55 0 0);
  --sidebar-primary: oklch(0.83 0.13 160.91);
  --sidebar-primary-foreground: oklch(0.26 0.01 166.46);
  --sidebar-accent: oklch(0.95 0 0);
  --sidebar-accent-foreground: oklch(0.24 0 0);
  --sidebar-border: oklch(0.90 0 0);
  --sidebar-ring: oklch(0.83 0.13 160.91);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Source Code Pro, monospace;
  --font-mono: Source Code Pro, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 2px 4px -1px hsl(0 0% 0% / 0.17);
  --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 4px 6px -1px hsl(0 0% 0% / 0.17);
  --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 8px 10px -1px hsl(0 0% 0% / 0.17);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.43);
  --tracking-normal: 0.05em;
}

.dark {
  --background: oklch(0.18 0 0);
  --foreground: oklch(0.93 0.01 255.51);
  --card: oklch(0.20 0 0);
  --card-foreground: oklch(0.93 0.01 255.51);
  --popover: oklch(0.26 0 0);
  --popover-foreground: oklch(0.73 0 0);
  --primary: oklch(0.47 0.08 187.84);
  --primary-foreground: oklch(0.92 0.01 167.16);
  --secondary: oklch(0.70 0.19 22.23);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.24 0 0);
  --muted-foreground: oklch(0.71 0 0);
  --accent: oklch(0.31 0 0);
  --accent-foreground: oklch(0.99 0 0);
  --destructive: oklch(0.31 0.09 29.79);
  --destructive-foreground: oklch(0.94 0.00 34.31);
  --border: oklch(0.28 0 0);
  --input: oklch(0.26 0 0);
  --ring: oklch(0.80 0.18 151.71);
  --chart-1: oklch(0.80 0.18 151.71);
  --chart-2: oklch(0.71 0.14 254.62);
  --chart-3: oklch(0.71 0.16 293.54);
  --chart-4: oklch(0.84 0.16 84.43);
  --chart-5: oklch(0.78 0.13 181.91);
  --sidebar: oklch(0.18 0 0);
  --sidebar-foreground: oklch(0.63 0 0);
  --sidebar-primary: oklch(0.44 0.10 156.76);
  --sidebar-primary-foreground: oklch(0.92 0.01 167.16);
  --sidebar-accent: oklch(0.31 0 0);
  --sidebar-accent-foreground: oklch(0.99 0 0);
  --sidebar-border: oklch(0.28 0 0);
  --sidebar-ring: oklch(0.80 0.18 151.71);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Source Code Pro, monospace;
  --font-mono: Source Code Pro, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 2px 4px -1px hsl(0 0% 0% / 0.17);
  --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 4px 6px -1px hsl(0 0% 0% / 0.17);
  --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 8px 10px -1px hsl(0 0% 0% / 0.17);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.43);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
} */

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2645 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2645 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2645 0 0);
  --primary: oklch(0.3250 0 0);
  --primary-foreground: oklch(0.9881 0 0);
  --secondary: oklch(0.9761 0 0);
  --secondary-foreground: oklch(0.3250 0 0);
  --muted: oklch(0.9761 0 0);
  --muted-foreground: oklch(0.6467 0 0);
  --accent: oklch(0.9761 0 0);
  --accent-foreground: oklch(0.3250 0 0);
  --destructive: oklch(0.6195 0.2087 25.7511);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9401 0 0);
  --input: oklch(0.9401 0 0);
  --ring: oklch(0.7731 0 0);
  --chart-1: oklch(0.8248 0.1255 84.9429);
  --chart-2: oklch(0.8010 0.1114 203.2046);
  --chart-3: oklch(0.4194 0.1687 266.9275);
  --chart-4: oklch(0.9222 0.0759 125.5702);
  --chart-5: oklch(0.9149 0.1030 115.9972);
  --sidebar: oklch(0.9881 0 0);
  --sidebar-foreground: oklch(0.2645 0 0);
  --sidebar-primary: oklch(0.3250 0 0);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.9761 0 0);
  --sidebar-accent-foreground: oklch(0.3250 0 0);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.7731 0 0);
  --font-sans: Oxanium, sans-serif;
  --font-serif: Oxanium, sans-serif;
  --font-mono: Oxanium, sans-serif;
  --radius: 0rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.10), 0 1px 2px -1px hsl(0 0% 10.1961% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.10), 0 1px 2px -1px hsl(0 0% 10.1961% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.10), 0 2px 4px -1px hsl(0 0% 10.1961% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.10), 0 4px 6px -1px hsl(0 0% 10.1961% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.10), 0 8px 10px -1px hsl(0 0% 10.1961% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.25);
}

.dark {
  --background: oklch(0.2439 0.0368 233.8514);
  --foreground: oklch(0.8940 0.0873 200.2091);
  --card: oklch(0.3499 0.0553 234.4414);
  --card-foreground: oklch(0.8940 0.0873 200.2091);
  --popover: oklch(0.2439 0.0368 233.8514);
  --popover-foreground: oklch(0.8940 0.0873 200.2091);
  --primary: oklch(0.8940 0.0873 200.2091);
  --primary-foreground: oklch(0.2439 0.0368 233.8514);
  --secondary: oklch(0.3499 0.0553 234.4414);
  --secondary-foreground: oklch(0.8940 0.0873 200.2091);
  --muted: oklch(0.2379 0.0151 235.7016);
  --muted-foreground: oklch(0.8390 0.0372 200.7356);
  --accent: oklch(0.3499 0.0553 234.4414);
  --accent-foreground: oklch(0.8940 0.0873 200.2091);
  --destructive: oklch(0.3958 0.1331 25.7230);
  --destructive-foreground: oklch(0.8014 0.0171 17.5146);
  --border: oklch(0.4801 0.0604 199.9090);
  --input: oklch(0.4809 0.0598 201.5260);
  --ring: oklch(0.4813 0.0599 203.0596);
  --chart-1: oklch(0.9552 0.0402 200.3205);
  --chart-2: oklch(0.8605 0.1056 201.4103);
  --chart-3: oklch(0.7048 0.1181 207.0230);
  --chart-4: oklch(0.5195 0.0854 214.4082);
  --chart-5: oklch(0.4485 0.0691 217.4174);
  --sidebar: oklch(0.2439 0.0368 233.8514);
  --sidebar-foreground: oklch(0.8940 0.0873 200.2091);
  --sidebar-primary: oklch(0.8940 0.0873 200.2091);
  --sidebar-primary-foreground: oklch(0.3499 0.0553 234.4414);
  --sidebar-accent: oklch(0.8940 0.0873 200.2091);
  --sidebar-accent-foreground: oklch(0.2439 0.0368 233.8514);
  --sidebar-border: oklch(0.4801 0.0604 199.9090);
  --sidebar-ring: oklch(0.4809 0.0598 201.5260);
  --font-sans: Oxanium, sans-serif;
  --font-serif: Oxanium, sans-serif;
  --font-mono: Oxanium, sans-serif;
  --radius: 0rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.10), 0 1px 2px -1px hsl(0 0% 10.1961% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.10), 0 1px 2px -1px hsl(0 0% 10.1961% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.10), 0 2px 4px -1px hsl(0 0% 10.1961% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.10), 0 4px 6px -1px hsl(0 0% 10.1961% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.10), 0 8px 10px -1px hsl(0 0% 10.1961% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

body {
  letter-spacing: var(--tracking-normal);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}


/* EFFET */

.crt {
  position: relative;
  animation: flicker 150ms infinite;
  filter: blur(.3px);
  text-shadow: 0 0 .2px #0ff;
}

.crt::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.03) 0px,
    rgba(255, 255, 255, 0.03) 1px,
    transparent 1px,
    transparent 2px
  );
  z-index: 2;
  pointer-events: none;
}

.crt::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.1) 0%, transparent 80%);
  z-index: 3;
  pointer-events: none;
}

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 1;
  }
  20%, 22%, 24%, 55% {
    opacity: 0.95;
  }
}